table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 8px;
}
th{
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ant-spin.ant-spin-spinning {
    padding: 10% 0% 0% 35%;
}