@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.repo-view{
    padding: 30px;
}

.header-controls{
    padding: 0px 0px 20px 0px;
}
.table-controls{
    display: flex;
    height: 32px;
    margin: 0px 10px 20px 0px;
    float: right;
}
.direction-controls{
    font-size: 30px;
}
.direction-active{
    color: blue;
}
.table-controls > div {
    line-height: 2.5em;
    padding-right: 10px;
}
.table-controls > select:nth-of-type(1){
    margin-right: 10px;
}
.repo-table-container ul.ant-pagination {
    float: right;
    padding-top: 20px;
}
tr:hover {
    background: #fcfcfc;
}
table{
    font-size: 15px;
}

.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    padding: 0px 0px 30px 0px;
}

.search input {
    width: 400px;
    height: 32px;

    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
}